app:
  version: '@project.version@'
  oauth2.issuer-uri: http://localhost:9080/realms/test-realm

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

spring:
  profiles:
    group:
      default: common
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${app.oauth2.issuer-uri:-}
